<h1>Edit Recipe Form</h1>
<%= render "form", post_url: recipe_path(@recipe.id), method: "patch" %>

<br><br>
<%= button_to "delete", {:controller => :recipes, :action => 'destroy', :id => @recipe.id }, :method => :delete %>