<% if session[:user] == @user.id %>
  <h1>Upcoming Events</h1>
  <ul>
    <% @upcoming_events.each do |event_obj| %>
      <%= event_obj.name %>
    <% end %>
  </ul>

  <h1>Past Events</h1>

  <h1>Recipes</h1>
  <% if @recipes.length > 0 %>
    <ul>
      <% @recipes.each do |recipe_obj| %>
        <%= recipe_obj.name %>
      <% end %>
    </ul>
    <% link_to "More Recipes>>>" recipes_path %>

  <% else %>
    <h3>None</h3>
    <%= link_to "Add a recipe", new_recipe_path%>
  <% end %>
<% end %>
