<html>
    <body>
        <div id="main-container" class="container-fluid">
            <div class="row">
                <div id="content" class="col-md-4"></div>
                <div id="content" class="col-md-4">

                    <h4 class="text-left"> Create a New Ingredient </h4>
                    <%= render "form" %>
                </div>
                <div id="content" class="col-md-4"></div>
            </div>
        </div>
    </body>
</html>
