<html>
  <body>
    <div id="main-container" class="container-fluid">
      <row>
        <div id="content" class="col-sm-3">
        </div>
        <div id="content" class="col-sm-6">
        <h2> Create a new event </h2>
        </div>
        <div id="content" class="col-sm-3">
        </div>
        </div>
      </row>
        <%= render "common_form" %>
    <div>
  </body>
</html>
