/* CSS RESET BEGIN */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET END */



/* MOD2 FINAL PROJECT TEAM CSS BEGIN */


body {
    font-family: 'Nanum Gothic', sans-serif;
    color: #636466;
}

#navbar {
    font-size: .75em;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 25px;
}

#navbar a, #navbar a:hover, #navbar a:visited {
    color: #636466;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #c7c8ca;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divider2 {
    width: 100%;
    height: 1px;
    background-color: #c7c8ca;
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
}

#welcome_holder{
    float: right;
    padding-top: 20px;
    max-height: 40px;
}

#logo {
    height: 30px;
    width: 150px;
    float: left;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#footer {
    color: #C7C8CA;
    font-size: .6875em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.slashes {
    color: #C7C8CA;
}

.event_small {
    font-size: .5em;
}

a {
    color: #00aeef;
}

a:link {
    color: #00aeef;
    text-decoration: none;
}

a:hover{
    color: #00aeef;
    text-decoration: underline;
    background-color: transparent;
}

a:visited {
    color: #00aeef;
    text-decoration: none;
}

#danger-btn {
  background-color: #B33115;
}

#warning-btn {
  background-color: #C17B1D;
  color: black;
}

#success-btn {
  background-color: #559521;
  color: black;
}

.btn {
    font-size: .8em;
}

.delete-btn {
    color: red;
}

ul {
    list-style-type: none;
    font-size: .8em;
    margin: 0;
    padding: 0;
}

ul li {
    padding: 3px;
}

.checkbox-dropdown {
    height:100px;
    overflow:auto;
    margin-bottom:25px;
    margin-top:20px
}

.form-control  {
    margin-top: 5px;
}

.h4-text{
    font-size: 1.4375em;
    margin-bottom: 25px;
}

.h6-size  {
    font-size: .75em;
}

.entry_forms {
    margin-top: 150px;
    background: #fff;
    border-radius: 10%;
    padding: 25px;
}

#sign-in-col {
    font-size: .75em;
}

/* EVENTS SHOW */

.collapse{
    color: #00aeef;
    cursor: pointer;
    display: inline;
}

.collapse:hover{
    text-decoration: underline;
}

.collapse + input{
    display: none; /* hide the checkboxes */
}

.collapse + input + #recipe_form{
    display:none;
}

.collapse + input:checked + #recipe_form{
    display:block;
}

#attendees li{
    padding-bottom: 5px;
}

.flash-messages {
	color: red;
}


div.circle-avatar {
    /* make it responsive */
    max-width: 100%;
    width:100%;
    height:auto;
    display:block;
    /* div height to be the same as width*/

    /* make it a circle */
    border-radius:50%;

    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;
    background-color: fuchsia;
    /* it is optional, for making this div centered in parent*/
}

.circle-avatar-test {
    /* make it responsive */
    margin-top: -7px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    max-width: 100%;
    display:block;
    float: right;
    /* div height to be the same as width*/

    /* make it a circle */
    border-radius:50%;

    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;
    background-color: #fff;
    /* it is optional, for making this div centered in parent*/
}

#recipe_form span{
    display: block;
    float: left;
    margin: 5px;
}