// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#danger-btn {
  background-color: #B33115;
}

#warning-btn {
  background-color: #C17B1D;
  color: black;
}

#success-btn {
  background-color: #559521;
}
